/* Estilos del Paginador */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav.nav-pagination {
  display: inline-flex;
  position: absolute;
  vertical-align: middle;
  left: 1240px;
  top: 523px;
}


button.page-item {
  color: #fff;
  list-style: none;
  margin: 0px;
  cursor: pointer;
  border-radius: 50px;
  border: none;
}

.page-item:hover {
  background: #0AD4FA;
  color: #FFFFFF;
  border-color: #0AD4FA;
  list-style: none;
}

button.page-item:focus {
  background-color: #0AD4FA;
  border-color: #0AD4FA;
  text-decoration: underline;
}

h3.pagination {
  position: relative;
  height: 48px;
  left: 0%;
  right: 85.54%;
  top: calc(50% - 48px/2 - 12px);

  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 48px;
  letter-spacing: -0.15px;
  color: #616161;
}

