/* Estilos del componente Navigation */


@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


 nav.container-header {
    width: 100%;
    height: 80px;
    left: 0px;
    top: 0px;
    background: rgb(249,255,5);
    background: linear-gradient(151deg, rgba(249,255,5,1) 20%, rgba(255,0,168,1) 100%);
  }

  .logo {
    position: absolute;
    width: 38.77px;
    height: 36px;
    left: 42px;
    top: 22px;
    cursor: pointer;
  }

  div.buttons {
  display: flex;
  align-items: center;
  height: 50px;
  margin: 16px;
  margin-left: 750px;
  text-decoration: none;
}

button.btn-nav {
  background: #f44336;
  border: 2px solid #ffffff;
  border-radius: 50px;
  width: 130px;
  height: 30px;
  margin-top: -40px;
  cursor: pointer;
  text-align: right;
}

button.btn-nav:hover {
  background: #b63128;
  border: 2px solid #ffffff;
  border-radius: 50px;
  width: 130px;
  height: 30px;
  margin-top: -40px;
  cursor: pointer;
  text-align: right;
}

img#icon {
  position: absolute;
  width: 2%;
  left: 763px;
  top: 28px;
}

img#icon-2 {
  position: absolute;
  width: 22px;
  left: 901px;
  top: 29px;
}

a {
  text-decoration: none;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.15px;
  margin-right: 14px;
  color: #ffffff;
}


  h3.user {
    position: absolute;
    width: 15%;
    height: 48px;
    left: 1040px;
    right: 60.47%;
    top: 16px;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 48px;
    letter-spacing: -0.15px;
    color: #ffffff;
  }

  span.puntos {
    position: absolute;
    width: 165px;
    height: 48px;
    left: 1150px;
    top: 16px;
    bottom: 0%;

    background: #EDEDED;
    border-radius: 20.5px;
  }

  h3.puntos {
    position: absolute;
    height: 48px;
    left: 12.62%;
    right: 40.78%;
    top: calc(50% - 48px/2);
    
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 48px;
    letter-spacing: -0.15px;
    color: #616161;
  }

  img.coin {
    position: relative;
    width: 40px;
    height: 40px;
    left: 120px;
    top: 14%;
  }





