/* Estilos del componente Footer */


@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


 div.container-footer {
    position: relative;
    width: 100%;
    height: 50px;
    left: 0px;
    bottom: 0px;
    background: rgb(249,255,5);
    background: linear-gradient(151deg, rgba(249,255,5,1) 20%, rgba(255,0,168,1) 100%);
  }

  h3.footer {
    display: flex;
    height: 48px;
    top: calc(53% - 48px/2 - 0.5px);
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 48px;
    letter-spacing: -0.15px;
    color: #272727;
  }







